@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

li {
    cursor: pointer;
    list-style: none;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-end {
    align-items: flex-end !important;
}