@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body,
html {
    width: 100%;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

li {
    cursor: pointer;
    list-style: none;
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 990px;
    gap: 2rem;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-end {
    align-items: flex-end !important;
}