@import url(global.css);
@import url(variables.css);

body {
    margin: 0;
    padding: 0;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
    color: var(--gray);
    transition: all .3s ease-in-out;
}

.menu nav ul li:nth-child(1),
.menu nav ul li:hover {
    color: var(--white) !important;
    padding: 15px;
    background-color: var(--blue-primary);
    text-transform: uppercase;
    color: var(--gray-primary);
}

#banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 670px;
    text-shadow: 0px 1px 0px #555555;
    color: var(--white);
    background: url(../images/img1.jpg);
    background-position: top;
    background-size: cover;
}

.column {
    flex-direction: column;
}

.banner_headline {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.banner_options {
    width: 100%;
    height: 210px;
    text-shadow: none;
    display: flex;
}

.banner_headline h1 {
    font-size: 3.4rem;
    max-width: 384px;
}

.banner_headline h2 {
    font-size: 1.31rem;
    max-width: 403px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 1rem;
    justify-content: space-around;
}

.card:nth-child(1) {
    background-color: var(--blue-primary);
}

.card:nth-child(2) {
    background-color: var(--blue-secondary);
}

.card:nth-child(3) {
    background-color: var(--blue-dark);
}

.card h3 {
    font-weight: normal;
    margin-bottom: 0.5rem;
    font-size: 21px;
}

.card a,
.card p {
    font-size: 13px;
}

.card a {
    padding: 5px;
    border: 1px solid var(--white);
    font-size: 13px;
}

.card .hour {
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc26;
}

#geral {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin: 30px 0 20px 0;
}

.widget_title_text {
    font-size: 21px;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    margin-top: 10px;
    background-color: var(--blue-primary);
}

.widget_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.card_blue {
    height: 150px;
    width: calc(50% - 43px);
    min-width: 140px;
    flex: 1;
    background-color: #4fa3fd;
}

.text_make {
    color: var(--gray);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #cacaca;
}

.contact {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 8px;
    width: 30px;
    height: 30px;
    color: var(--white);
    background-color: #cacaca;
}

.contact a {
    color: blue;
    text-decoration: underline;
}

article {
    flex: 1;
    min-width: 300px;
}

article .news_data {
    display: flex;
    gap: 2px;
}

article .news_posted_at {
    padding: 10px;
    font-size: 12px;
    color: var(--white);
    background-color: var(--blue-dark);
}

article .news_comments {
    padding: 10px;
    font-size: 12px;
    color: var(--white);
    background-color: var(--blue-primary);
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    font-size: 23px;
    margin: 25px 0;
    font-weight: normal;
}

article .news_resume {
    font-size: 14px;
    line-height: 20px;
    color: var(--gray-secondary);
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--graphite);
}

.footer_menu {
    width: 100%;
    display: flex;
    color: var(--white);
}

footer .card a {
    border: none;
}

.footer_area {
    display: flex;
    gap: 1rem;
    font-size: 14px;
}

.footer_area_item {
    flex: 1;
    color: var(--white);
}

.footer_copy {
    font-size: 14px;
    padding: 1rem 0;
    color: var(--gray-secondary);
    border-top: 1px solid var(--gray-secondary);
}

.text_card_footer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.text_widget_footer {
    margin-top: 2rem;
}

.widget_body_footer {
    line-height: 20px;
    color: var(--gray);
}

.mail {
    color: var(--white);
}

.social_medias {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon_social_media {
    color: inherit;
    background-color: #303030;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.years {
    color: var(--blue-primary);
    font-size: 14px;
}

.post span {
    color: var(--white);
}

.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
}

.mm_line {
    height: 3px;
    background-color: var(--blue-primary);
}


@media (max-width: 768px) {

    #banner {
        height: auto;
        background: url(../images/img1-mobile.jpg);
        background-repeat: no-repeat;
    }

    #banner .container {
        gap: 0;
    }

    .banner_headline {
        padding: 2rem 2rem 20px;
    }

    .banner_headline h1 {
        font-size: 2.4rem;
    }

    .banner_headline h2 {
        font-size: 1rem;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    #geral {
        padding: 2rem;
    }

    #geral .container {
        flex-direction: column;
    }

    .footer_menu,
    .footer_area {
        flex-direction: column;
    }

    .footer_area {
        padding: 2rem;
        gap: 2rem;
    }

    .footer_copy {
        padding-left: 2rem;
    }

    header {
        height: auto;
        padding: 2rem;
    }

    .menu nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding-top: 2rem;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}