@import url(global.css);
@import url(variables.css);

body {
    margin: 0;
    padding: 0;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 990px;
}

.logo {

}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
    color: var(--gray);
    transition: all .3s ease-in-out;
}

.menu nav ul li:nth-child(1), .menu nav ul li:hover {
    color: var(--white) !important;
    padding: 15px;
    background-color: var(--blue-primary);
    text-transform: uppercase;
    color: var(--gray-primary);
}