:root {
    --white: #fff;
    --blue-primary: #39aae1;
    --blue-secondary: #0079c7;
    --blue-dark: #2b4c99;
    --gray: #727272;
    --gray-secondary: #5c5c5c;
    --graphite: #1e1e1e;
    --font: Arial, Helvetica, sans-serif;
}