@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--text);
    background-color: var(--off-white);
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 80vw;
    max-width: 1400px;
    display: flex;
    align-self: center;
    justify-content: center;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.show {
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: absolute;
    bottom: -100vh;
    right: 0;
    display: flex !important;
    background-color: var(--brown);
    z-index: 99;

}

.show a {
    color: var(--white) !important;
}

.list-mobile {
    flex-direction: column;

}

.emy-beuaty {
    color: var(--rose-gold);
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.gap-2 {
    gap: 2rem;
}

.justify-between {
    justify-content: space-between;
}