@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 70vw;
    display: flex;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.show {
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: absolute;
    bottom: -100vh;
    right: 0;
    display: flex !important;
    background-color: var(--brown);
    z-index: 99;

}

.show a {
    color: var(--white) !important;
}

.list-mobile {
    flex-direction: column;
}