@import url(global.css);

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--beige);
    gap: 5rem;
}

.main header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.btn-menu {
    display: none;
}

.main header nav ul {
    display: flex;
    gap: 2rem;
}

.main header nav ul li,
.main header nav ul li a {
    transition: .3s ease-in-out;
}

.main header nav ul li a {
    font-size: 14px;
    color: var(--text);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 10px 5px;
    border: 2px solid transparent;
}

.main header nav ul li:hover {
    transform: translateY(-5px);
}

.main header nav ul li a:hover {
    border-bottom: 2px solid var(--brown);
}

.main-content {
    align-items: flex-start;
    justify-content: space-between;
}

.main-content .title {
    font-size: 3rem;
    width: 35rem;
    color: var(--text);
    text-transform: uppercase;
}

.main-content-text {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.main-content p {
    width: 500px;
    letter-spacing: 1px;
    line-height: 1.7rem;
}

.btn-more {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 15px 20px;
    color: var(--off-white);
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: bold;
    background-color: var(--rose-gold);
}

.happy-woman {
    width: 35vw;
}

.about {
    margin: 5rem 0 10rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-img {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

.about-img .woman-applying {
    width: 70%;
    max-width: 400px;
    min-width: 250px;
    border-radius: 50%;
}

.about-img .product-img {
    position: absolute;
    bottom: 0;
    left: 4rem;
    width: 6vw;
    height: 6vw;
    min-width: 100px;
    min-height: 100px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid white;
    box-shadow: -3px 5px 21px -2px var(--light-brown);
}

.content-about {
    display: flex;
    flex-direction: column;
}

.content-about-title {
    margin-bottom: 2rem;
}

.content-about p {
    line-height: 25px;
    width: 35vw;
}

.content-about .msg {
    margin-top: 1rem;

}

.services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--off-white);
    background-color: var(--brown);
    padding: 4rem;
}

.text-services {
    width: 50rem;
    max-width: 40rem;
    text-align: center;
}

.content-services {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.content-services .service-item {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    transition: .3s ease-in-out;
}

.content-services .service-item img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    width: 100%;
    border-radius: 100%;
    border: 8px solid var(--rose-gold);
}

.content-services .service-item:hover {
    transform: scale(1.1);
}

.best-sellers {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    background-color: var(--light-rose);
}

.title-bets {
    margin-bottom: 1rem;
}

.best-sellers .container-cards-products {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.best-sellers .card-product {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 15px;
    border: 2px solid var(--brown);
}

.best-sellers .card-product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.best-sellers .card-product .product-name,
.product-value {
    font-size: 18px;
}

.best-sellers .card-product .product-value {
    font-weight: 600;
}

.btn-product {
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    color: var(--off-white);
    border-radius: 5px;
    background-color: var(--rose-gold);
}

.treatments {
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-tratamentos {
    margin-bottom: 10rem;
}

.container-cards-tratamentos {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
}

.card-tratamento {
    max-width: 65rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--light-rose);
}

.card-tratamento img {
    width: 50%;
    position: absolute;
    top: -10vh;
    left: -4vw;

}

.card-tratamento h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content-card-tratamento {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-card-tratamento .text-card-tratamentos {
    line-height: 1.5rem;
}

.btn-mais {
    width: 150px;
    font-size: 16px;
    border-radius: 60px;
    padding: 15px 20px;
    color: var(--light-rose);
    background-color: var(--brown);
}

.contact {
    padding: 4rem;
    display: flex;
    justify-content: center;
    background-color: var(--beige);
}

.duvida {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.header-duvida {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 2rem;
}

.text-duvida {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 2rem;
    width: 60%;
}

.duvida .contacts {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.contact-item {
    width: 210px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    gap: 0.5rem;
    padding: 10px 15px;
    color: var(--off-white) !important;
    background-color: var(--brown);
}

.contact-item i {
    font-size: 20px;
}

.contact-item p {
    font-size: 20px;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    height: 100%;
    padding: 2rem;
    background-color: var(--off-white);
    border: 1px solid var(--brown);
}

.title-form {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.form input::placeholder {
    color: var(--brown);
}

.form input,
textarea {
    outline: none;
    padding: 10px;
    border: 1px solid var(--brown);
    background-color: transparent;
    border-radius: 5px;
}

.form input {
    outline: none;
    padding: 10px;
}

.btn-msg {
    color: var(--off-white);
    border-radius: 5px;
    padding: 15px 0;
    background-color: var(--brown);
}

footer {
    width: 100%;
    padding: 4rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--warm-brown);
}

footer .container {
    gap: 5rem;
}

.content-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.logo-footer {
    align-self: flex-start;
    max-width: 300px;
}

.footer-item {
    flex: 1;
    min-width: 145px;
    display: flex;
    flex-direction: column;
}

.footer-item h3 {
    color: var(--off-white);
    margin-bottom: 2rem;
}

.footer-item ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--off-white);
}

.footer-item ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}

.footer-item ul li i {
    font-size: 14px;
    color: var(--rose-gold);
}

.social-media {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--off-white);
    font-size: 24px;
}

.social-media a {
    transition: .3s ease-in-out;
}

.social-media a:hover {
    color: var(--rose-gold);
    transform: translateY(-3px);
}

.copyright {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
}

.copyright-content {
    width: 100%;
    text-align: center;
    color: var(--off-white);
}

.copyright-content a {
    text-decoration: underline;
    transition: .3s ease-in-out;
}

.copyright-content a:hover {
    color: var(--rose-gold);
}

.copyright .social-media {
    margin-top: 0;
}


@media (max-width: 768px) {

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .container {
        width: 100%;
        padding: 0 2rem;
    }

    .main {
        gap: 0;
    }

    .main header {
        padding: 2rem;
    }

    #menu {
        display: none;
    }

    .btn-menu {
        display: flex;
        color: var(--brown);
        font-size: 1.5rem;
    }

    .main-content {
        height: auto;
        padding-bottom: 3rem;
    }

    .main-content p,
    .main-content .title {
        width: auto;
    }

    .main-content .title {
        font-size: 1.5rem;
    }

    .main-content img {
        display: none;
    }

    .about {
        gap: 0;
        flex-direction: column-reverse;
    }

    .about-img {
        flex: auto;
        margin-top: 2rem;
    }

    .about-img .product-img {
        bottom: -1rem;
        left: 1rem;
    }

    .content-about p {
        width: auto;
    }

    .services {
        padding: 4rem 2rem;
    }

    .services .container {
        padding: 0;
    }

    .text-services {
        width: auto;
        line-height: 30px;
        text-align: justify;
    }

    .best-sellers .card-product {
        max-width: 320px;
    }

    .best-sellers .container-cards-products {
        margin-top: 2rem;
        width: 100%;
    }

    .best-sellers,
    .treatments {
        padding: 2rem;
    }

    .best-sellers .container,
    .treatments .container {
        padding: 0;
    }

    .title-tratamentos {
        margin: 2rem 0 3rem;
    }

    .container-cards-tratamentos {
        width: 100%;
        gap: 3rem;
    }

    .container-cards-tratamentos .card-tratamento {
        width: 100%;
        max-width: 500px;
        padding: 15px;
    }

    .card-tratamento:nth-child(2) {
        flex-direction: column-reverse;
    }

    .card-tratamento img {
        position: static;
        width: 100%;
        margin-bottom: 2rem;
    }

    .card-tratamento h3 {
        font-size: 1.25rem;
        width: 100%;
    }

    .content-card-tratamento {
        width: 100%;
    }

    .contact {
        padding: 4rem 2rem;
    }

    .contact .container {
        padding: 0;
        flex-direction: column;
    }

    .duvida {
        max-width: 40rem;
    }

    .header-duvida {
        align-items: flex-start;
    }

    .text-duvida {
        width: 100%;
    }

    .form {
        width: 100%;
        max-width: 30rem;
        padding: 40px 20px;
    }

    footer {
        padding: 4rem 2rem;
    }

    footer .container {
        padding: 0;
        flex-direction: column;
    }

    .content-footer {
        gap: 2rem 1rem;
    }

    .footer-item ul {
        font-size: 14px;
    }

    .copyright {
        flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .container {
        width: 90vw;
    }

    .main {
        gap: 2rem;
    }

    .main-content {
        margin-bottom: 5rem;
        height: auto;
    }

    #menu {
        display: none;
    }

    .btn-menu {
        display: flex;
        color: var(--brown);
        font-size: 1.5rem;
    }

    .happy-woman {
        display: none;
    }

    .content-about p {
        width: auto;
    }

    .about-img .product-img {
        left: -1rem;
    }

    .best-sellers .card-product {
        max-width: 350px;
    }

    .title-tratamentos {
        margin: 2rem 0 5rem;
    }

    .card-tratamento {
        width: 85%;
    }

    .card-tratamento:nth-child(2) {
        flex-direction: column-reverse;
    }

    .card-tratamento img {
        position: static;
        width: 100%;
        margin-bottom: 2rem;
    }

    .content-card-tratamento {
        width: auto;
    }

    .content-card-tratamento .text-card-tratamentos {
        font-size: 20px;
        line-height: 2rem;
    }

    .container-cards-tratamentos {
        gap: 5rem;
    }

    .duvida {
        flex: 1;
    }

    .text-duvida {
        width: auto;
    }

    footer .container {
        flex-wrap: wrap;
    }

}