:root {
    --white: #fff;
    --text: #483a37;
    --beige: #f3e2d2;
    --brown: #615048;
    --off-white: #fefcfd;
    --rose-gold: #cea39c;
    --light-brown: #cea39c;
    --light-rose: #f7f1f1;
    --warm-brown: #342623;
}