@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

a {
    text-decoration: none;
}

body {
    background: url(../img/bg-school.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

input {
    outline: none;
}