@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: 0;
    cursor: pointer;
    background-color: none;
}

a {
    text-decoration: none;
}

body {
    background: url(../img/bg-school.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}