@import url(global.css);

main {
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 20px;
    background: var(--white);
    border: 3px solid var(--orange);
}

form {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

form .title-form {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--orange);
    font-family: "Fredoka", sans-serif;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 0;
}

fieldset h3 {
    color: var(--orange);
}

.group-row {
    display: flex;
    gap: 2rem;
}

.name-aluno {
    flex: 2;
}

.date {
    flex: 1;
}


.group-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.group-input input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
    color: #ccc;
}

.group-input input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    flex: 2;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #dfdddd;
    background-color: var(--white);
}

.group-input input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus {
    border: 1px solid var(--orange);
}

.group-input label {
    text-wrap: nowrap;
}

.info-matricula {
    display: flex;
    gap: 2rem;
}

.group-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

select {
    border-radius: 5px;
    border: 1px solid #dfdddd;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.btn-next {
    align-self: flex-end;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
    transition: .3s ease-in-out;
    color: var(--orange);
    font-weight: 800;
    border: 2px solid var(--orange);
}

.btn-next:hover {
    color: var(--white);
    transform: scale(1.1);
    background-color: var(--orange);
    box-shadow: 6px 6px 17px -9px var(--orange);
}