@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

li {
    cursor: pointer;
    list-style: none;
}

h1 {
    font-family: var(--font-cormorant-garamond);
}