@import url(global.css);

header {
    position: absolute;
    padding: 2rem 4rem;
}

.main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: url(../images/fundo-page.png);
    background-size: cover;
}

.cs-lewis {
    border-radius: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    max-width: 60vw;
}

.name {
    font-size: 2.5rem;
}

.text {
    width: 36rem;
    text-align: center;
}

.destaque {
    width: 60%;
    position: absolute;
    bottom: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

cite {
    z-index: 99;
    font-size: 2.25rem;
    max-width: 40vw;
    font-weight: 500;
    text-align: center;
    color: var(--brown);
}

.banner img {
    position: absolute;
    width: 100%;
    left: 0;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-about {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.content-about p {
    line-height: 2rem;
    font-size: 20px;
    flex: 1;
    width: 30rem;
}

.content-about img {
    flex: 1;
    border-radius: 10px;
}

.time-books {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-right: 1px solid #baa188;
    padding-right: 2rem;
}

.timeline-list {
    list-style: none;
    border-left: 2px solid #baa188;
    padding-left: 20px;
    font-size: 20px;
}

.timeline-list li {
    margin-bottom: 20px;
    position: relative;
}

.timeline-list .year {
    font-weight: bold;
    color: var(--brown);
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom: 5px;
}

.timeline-list p {
    color: #4b3621;
    margin: 0;
    font-family: 'Georgia', serif;
}

.about a {
    font-weight: 600;
}

.books {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
}

.container-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-content {
    width: 150px;
    display: flex;
    gap: 1rem;
    text-align: center;
    flex-direction: column;
}

@media (max-width: 1024px) {

    h2::before {
        display: none;
    }

    .main {
        height: 70vh;
    }

    .destaque {
        width: 80%;
        bottom: 27vh;
    }

    .container {
        margin-top: 14vh;
    }

    cite {
        font-size: 3vw;
    }

    .content-about {
        flex-direction: column;
    }

    .content-about p {
        width: 100%;
    }

    .content-about img {
        width: 100%;
    }

    .time-books {
        flex-direction: column-reverse;
        gap: 5rem;
    }

    .timeline {
        border: 0;
        padding: 0;
    }

    .books {
        padding: 0;
    }

    .container-books {
        gap: 1rem;
    }

    .books .title {
        width: 18rem;
    }

    footer {
        padding: 20px 0;
        gap: 1rem;
        flex-direction: column;
    }

    footer p {
        width: 13rem;
    }

    .social-media {
        gap: 1rem;
    }
}