@import url(global.css);

body {
    background: url(../images/fundo-page.png);
    background-size: cover;
}

header {
    width: 100%;
    padding: 2rem 2rem 0;
}

.main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}

.cs-lewis {
    max-width: 25vw;
    border-radius: 80%;
}

.name {
    font-size: 2.5rem;
}

.text {
    width: 36rem;
    text-align: center;
}

cite {
    z-index: 99;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--brown);
}

.banner img {
    position: absolute;
    width: 100%;
    left: 0;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-about {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.content-about p {
    line-height: 2rem;
    font-size: 20px;
    flex: 1;
    width: 30rem;
}

.content-about .img-about {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-about .img-about img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.time-books {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-right: 1px solid #baa188;
    padding-right: 2rem;
}

.timeline-list {
    list-style: none;
    border-left: 2px solid #baa188;
    padding-left: 20px;
    font-size: 20px;
}

.timeline-list li {
    margin-bottom: 20px;
    position: relative;
}

.timeline-list .year {
    font-weight: bold;
    color: var(--brown);
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom: 5px;
}

.timeline-list p {
    color: #4b3621;
    margin: 0;
    font-family: 'Georgia', serif;
}

.about a {
    font-weight: 600;
}

.books {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
}

.container-books {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.book-content {
    width: calc(140% / 3);
    max-width: 10rem;
    display: flex;
    gap: 1rem;
    text-align: center;
    flex-direction: column;
}

.book-content img {
    width: 100%;
}

@media (max-width: 768px) {

    .cs-lewis {
        max-width: 80%;
    }

    h2::before {
        display: none;
    }

    .destaque {
        width: 80%;
        bottom: 27vh;
    }

    .container {
        padding: 2rem;
        gap: 5rem;
    }

    cite {
        font-size: 1.5rem;
        max-width: 90%;
        margin: 0;
    }

    .content-about {
        flex-direction: column;
    }

    .content-about p {
        width: 100%;
        font-size: 16px;
    }

    .content-about .img-about img {
        width: 100%;
    }

    .time-books {
        flex-direction: column-reverse;
        gap: 5rem;
    }

    .timeline {
        border: 0;
        padding: 0;
    }

    .books {
        padding: 0;
    }

    .container-books {
        gap: 1rem;
    }

    footer {
        padding: 20px;
    }

    .social-media {
        gap: 1rem;
    }
}