:root {
    --bege: #D2B48C;
    --brown: #4b3621;
    --dark-brown: #2E1E0F;
    --font-lora: "Lora", serif;
    --font-great-vibes: "Great Vibes", cursive;
    --font-cormorant-garamond: "Cormorant Garamond", serif;
}